:root {
    --main-color: #EFEAE3;
    --text-color: #1d1f21;
    --text-color-w: #ffffff;
    --accent-color: #FE330A;
    --accent-color-O: #d3a6a1ce;
    --divider-color: #2c2c2c85;
    --secondary-color: #B0B0B0;
    --extra-color: #b8dbdd30;
    --extra-color-b: #2e2e2e;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Calibri, 'Trebuchet MS', sans-serif
}

body {
    width: 100vw;
    height: 100vh;
    color: var(--text-color);
    background-color: var(--main-color);
}

header, nav, ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    height: 10vh;
    width: 100vw;
    background: transparent;
    backdrop-filter: blur(7rem);
    padding: 2rem 1.9rem;
    border-bottom: dotted var(--accent-color) 1px;
}

header .logo a {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -1px;
    word-spacing: -1px;
    position: relative;
}

header .logo a span {
    font-size: 2.2rem;
}

header .logo a::after {
    content: ' ';
    position: absolute;
    background-color: var(--accent-color);
    bottom: 10%;
    transform: translateX(100%);
    left: -1%;
    height: 3px;
    border-radius: 60px;
    transition: all 0.3s ease-in-out;
    width: 0;
}

header .logo a:hover::after {
    left: -1%;
    transform: translateX(0);
    bottom: 10%;
    width: 105%;
}

header nav ul h3 {
    margin-left: 1rem;
    border-radius: 21px;
    padding: .6rem 1.3rem;
    border: solid var(--divider-color) 1.5px;
    position: relative;
    z-index: 1001;
    overflow: hidden;
}

header nav ul h3::after {
    content: ' ';
    background: var(--text-color);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    bottom: -100%;
    z-index: 0;
    left: 0;
}

header nav ul h3:hover::after {
    transform: scale(1);
    bottom: 0;
    border-radius: 0;
    z-index: 0;
}

header nav ul h3 a {
    color: var(--text-color);
    font-size: 19px;
    z-index: 1001;
    position: relative;
}

header nav ul h3:hover a {
    color: var(--main-color);
}

header nav .button {
    margin-left: 1.7rem;
    border: solid var(--accent-color) 1.5px;
    border-radius: 21px;
    padding: 0.45rem 1.5rem;
    overflow: hidden;
    position: relative;
    z-index: 1001;
}

header nav .button a {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
    z-index: 1001;
}

header nav .button::after {
    content: ' ';
    background: var(--accent-color);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    bottom: -100%;
    z-index: 10;
    left: 0;
}

header nav .button:hover::after {
    transform: scale(1);
    bottom: 0;
    border-radius: 0;
    z-index: 10;
}

header nav .button:hover a {
    color: var(--main-color);
}

main .main-container .inner-container {
    /* background-color: red; */
    height: 333px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main .main-container .inner-container .heading-top h3 {
    font-size: 3rem;
    margin-top: 1.7rem;
}

main .main-container .inner-container .booking-form {
    background: var(--accent-color-O);
    backdrop-filter: blur(15px);
    margin-top: 7rem;
    padding: 18px 36px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main .main-container .inner-container .booking-form .text h4 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 6px;
}

main .main-container .inner-container .booking-form .text p {
    font-size: 1.5rem;
    font-weight: 350;
    margin-bottom: 17px;
}

main .main-container .inner-container .booking-form .options .row {
    margin-bottom: 13px;
}

main .main-container .inner-container .booking-form .options .row .style {
    height: 48px;
    width: 250px;
    cursor: pointer;
    padding: 6px 20px;
    /* -webkit-appearance: none; */
    appearance: none;
    margin-right: 17px;
    border-radius: 13px;
    border: solid var(--accent-color) 1px;
    font-size: 19px;
    background-color: var(--main-color);
    font-family:Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}

main .main-container .inner-container .booking-form .options .row .button-submit {
    height: 48px;
    width: 250px;
    background-color: var(--extra-color-b);
    border: solid var(--text-color) 1px;
    color: var(--text-color-w);
    border-radius: 13px;
    font-size: 21px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

main .main-container .inner-container .booking-form .options .row .button-submit:hover {
    transform: scale(1.02);
}